@import "tailwindcss";

@font-face {
    font-family: 'pixeloperator';
    src: url('/PixelOperator.ttf');
}
div {
    font-family: 'pixeloperator';
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}